---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A Propos | Salim Laimeche" description="A propos Salim Laimeche">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline=" "
			>
				<img
					width="1553"
					height="873"
					src="/assets/fennec_sympa.jpg"
					alt=""
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Fort d'une solide expérience en développement et d'une formation de développeur chez eni école , je suis spécialisé en développement web et cloud.
					</p>
					<p>
						Au fil de ma carrière, j'ai eu l'opportunité de travailler sur divers projets passionnants, allant de web scrapper au développement de réseaux de neurones en passant par le développement d'api et d'api serverless avec azure function.
					</p>
					<p>
						Ces expériences m'ont permis de développer des compétences techniques pointues, mais aussi de renforcer ma capacité à travailler en équipe et à communiquer efficacement avec des collaborateurs de tous horizons.
					</p>
					<p>
						Mon approche proactive et ma volonté de toujours apprendre m'ont permis de rester à la pointe des dernières avancées technologiques et des meilleures pratiques de l'industrie. Je suis convaincu que l'innovation est au cœur de tout succès, et je suis ravi de contribuer à façonner l'avenir de l'industrie.
					</p>
					<p>
						Je suis actuellement ouvert aux opportunités professionnelles stimulantes, où je pourrais mettre à profit mon expertise à profit et contribuer de manière significative à la réussite d'une entreprise. N'hésitez pas à me contacter si vous souhaitez discuter de collaborations potentielles ou simplement échanger sur des sujets liés au développement et à l'innovation technologique.
					</p>
				</div>
			</section>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
